<%= render 'shared/page_header', title: t('admin_text_replacements.index.title') %>

<p><%= t('admin_text_replacements.description') %></p>

<%= button_to new_admin_text_replacement_path, method: :get do %>
  <strong><%= t('admin_text_replacements.index.add_new') %></strong>
<% end %>

<% if @text_replacements.any? %>
  <div style="
    text-align: left;
    max-width: 500px;
    margin: 2rem auto;
  ">
    <%= render 'tree', tree: @tree %>
  </div>
<% else %>
  <p><%= t('admin_text_replacements.index.empty') %></p>
<% end %>
