<div class="safety-standard-info">
  <h4><%= t('safety_standards.anchor_requirements.title') %></h4>
  <p><%= t('safety_standards.anchor_requirements.description') %></p>
  
  <table>
    <thead>
      <tr>
        <th><%= t('safety_standards.anchor_requirements.unit_area') %></th>
        <th><%= t('safety_standards.anchor_requirements.required_anchors') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.under_70') %></td>
        <td>6</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.70_to_100') %></td>
        <td>8</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.100_to_125') %></td>
        <td>10</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.125_to_150') %></td>
        <td>12</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.150_to_175') %></td>
        <td>14</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.175_to_200') %></td>
        <td>16</td>
      </tr>
      <tr>
        <td><%= t('safety_standards.anchor_requirements.over_200') %></td>
        <td><%= t('safety_standards.anchor_requirements.add_one_per_15') %></td>
      </tr>
    </tbody>
  </table>
</div>