<div class="safety-standard-info">
  <h4><%= t('safety_standards_tabs.material.title') %></h4>
  
  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.material.fabric_requirements.title') %></h5>
    <ul>
      <li><%= t('safety_standards_tabs.material.fabric_requirements.tensile_strength') %></li>
      <li><%= t('safety_standards_tabs.material.fabric_requirements.tear_strength') %></li>
      <li><%= t('safety_standards_tabs.material.fabric_requirements.fire_retardancy') %></li>
    </ul>
  </div>

  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.material.thread_requirements.title') %></h5>
    <ul>
      <li><%= t('safety_standards_tabs.material.thread_requirements.material') %></li>
      <li><%= t('safety_standards_tabs.material.thread_requirements.tensile_strength') %></li>
      <li><%= t('safety_standards_tabs.material.thread_requirements.stitch_type') %></li>
      <li><%= t('safety_standards_tabs.material.thread_requirements.stitch_length') %></li>
    </ul>
  </div>

  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.material.rope_requirements.title') %></h5>
    <ul>
      <li><%= t('safety_standards_tabs.material.rope_requirements.diameter_range') %></li>
      <li><%= t('safety_standards_tabs.material.rope_requirements.material') %></li>
      <li><%= t('safety_standards_tabs.material.rope_requirements.attachment') %></li>
      <li><%= t('safety_standards_tabs.material.rope_requirements.swing_limitation') %></li>
    </ul>
  </div>

  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.material.netting_requirements.title') %></h5>
    <ul>
      <li><%= t('safety_standards_tabs.material.netting_requirements.vertical_mesh') %></li>
      <li><%= t('safety_standards_tabs.material.netting_requirements.roof_mesh') %></li>
      <li><%= t('safety_standards_tabs.material.netting_requirements.strength') %></li>
    </ul>
  </div>
</div>