<div class="safety-standard-info">
  <h4><%= t('safety_standards_tabs.slide_safety.title') %></h4>

  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.slide_safety.runout_requirements.title') %></h5>
    <div class="formula-box">
      <strong><%= t('safety_standards_tabs.slide_safety.runout_requirements.formula') %></strong>
      <code><%= t('safety_standards_tabs.slide_safety.runout_requirements.formula_text') %></code>
      <br><em><%= t('safety_standards_tabs.slide_safety.runout_requirements.example') %></em>
    </div>

    <ul>
      <li><%= t('safety_standards_tabs.slide_safety.runout_requirements.minimum_length') %></li>
      <li><%= t('safety_standards_tabs.slide_safety.runout_requirements.absolute_minimum') %></li>
      <li><%= t('safety_standards_tabs.slide_safety.runout_requirements.maximum_inclination') %></li>
      <li><%= t('safety_standards_tabs.slide_safety.runout_requirements.stop_wall') %></li>
      <li><%= t('safety_standards_tabs.slide_safety.runout_requirements.wall_height_runout') %></li>
    </ul>
  </div>

  <div class="safety-card">
    <h5><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.title') %></h5>
    <table>
      <thead>
        <tr>
          <th><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.platform_height') %></th>
          <th><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.requirement') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.under_600mm') %></td>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.no_walls') %></td>
        </tr>
        <tr>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.600mm_to_3000mm') %></td>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.walls_equal') %></td>
        </tr>
        <tr>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.3000mm_to_6000mm') %></td>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.walls_125') %></td>
        </tr>
        <tr>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.over_6000mm') %></td>
          <td><%= t('safety_standards_tabs.slide_safety.containing_wall_heights.walls_and_roof') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
