<%# User Height Safety Standards Results Partial %>
<%= render 'shared/safety_info_box',
  title: t('safety_standards.user_height.title'),
  content: -> do %>
  <% if @assessment.tallest_user_height.present? %>
    <% user_height = @assessment.tallest_user_height %>
    <strong>
      <%= t('safety_standards.user_height.height_requirements') %>
    </strong>
    <% if user_height < 0.6 %>
      <%= t('safety_standards.user_height.no_walls_required') %>
    <% elsif user_height <= 3.0 %>
      <%= t('safety_standards.user_height.walls_equal_user_height', height: user_height) %>
    <% elsif user_height <= 6.0 %>
      <%= t('safety_standards.user_height.walls_125_user_height', height: (user_height * 1.25).round(2)) %>
    <% else %>
      <%= t('safety_standards.user_height.walls_125_plus_roof_required', height: (user_height * 1.25).round(2)) %>
    <% end %>

    <% if @assessment.containing_wall_height.present? %>
      <p>
        <%= render 'shared/pass_fail_string', passed: @assessment.meets_height_requirements? %>
        <%= t('safety_standards.compliant') %>
      </p>
    <% end %>
  <% end %>

<% end %>