<header>
  <h1>Change Password</h1>
</header>

<%= form_with(model: @user, url: update_password_user_path(@user), method: :patch, local: true) do |form| %>
  <% if @user.errors.any? %>
    <aside>
      <h3><%= pluralize(@user.errors.count, "error") %> prevented your password from being changed:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </aside>
  <% end %>

  <%= form.label :current_password %>
  <%= form.password_field :current_password %>

  <%= form.label :password, "New Password" %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation, "Confirm New Password" %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit "Update Password" %>
<% end %>
