<header>
  <h1><%= t('users.titles.register') %></h1>
</header>

<%= form_with(model: @user, url: signup_path) do |form| %>
  <%= render 'form/errors', model: @user %>

  <%= render 'form/fieldset', legend_key: 'account_details', i18n_base: 'users.forms', form: form do %>
    <%= render 'form/text_field', 
        field: :email, 
        type: :email_field,
        required: true %>

    <%= render 'form/text_field', 
        field: :password, 
        type: :password_field,
        required: true %>

    <%= render 'form/text_field', 
        field: :password_confirmation, 
        type: :password_field,
        required: true %>
  <% end %>

  <%= render 'form/submit_button',
      text: t('users.buttons.register') %>
<% end %>
