<%= render 'chobble_forms/form_context',
  model: nil,
  i18n_base: 'forms.session_new',
  url: login_path,
  scope: :session,
  secondary_link_url: register_path,
  secondary_link_text: t('forms.session_new.messages.register_link') do |form| %>
  <%= render 'chobble_forms/fieldset', legend_key: 'credentials' do %>
    <%= render 'chobble_forms/text_field',
      field: :email,
      type: :email_field,
      required: true %>

    <%= render 'chobble_forms/text_field',
      field: :password,
      type: :password_field,
      required: true %>

    <%= render 'chobble_forms/checkbox',
      field: :remember_me %>
  <% end %>
<% end %>

<div class="center" style="margin-top: 1rem;">
  <%= link_to t('sessions.buttons.login_with_passkey'), passkey_login_path, 
      style: "font-size: 0.9rem;" %>
</div>
