<%= render 'chobble_forms/form_context',
  model: nil,
  i18n_base: 'forms.session_new',
  url: login_path,
  scope: :session,
  secondary_link_url: register_path,
  secondary_link_text: t('forms.session_new.messages.register_link') do |form| %>
  <%= render 'chobble_forms/fieldset', legend_key: 'credentials' do %>
    <%= render 'chobble_forms/text_field',
      field: :email,
      type: :email_field,
      required: true %>

    <%= render 'chobble_forms/text_field',
      field: :password,
      type: :password_field,
      required: true %>

    <%= render 'chobble_forms/checkbox',
      field: :remember_me %>
  <% end %>
<% end %>

<div class="center passkey-login-container">
  <button type="button" 
          id="passkey-login-button"
          class="link-button"
          data-controller="passkey-login"
          data-action="click->passkey-login#authenticate">
    <span id="passkey-button-text"><%= t('sessions.buttons.login_with_passkey') %></span>
    <span id="passkey-button-spinner" class="lds-ring small" style="display: none;">
      <div></div><div></div><div></div><div></div>
    </span>
  </button>
</div>
