<div id="search">
  <%= render 'shared/search_box' %>
</div>

<article id="search-results" style="display: none;">
  <h2><%= t("search.results.heading") %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t("search.results.site") %></th>
        <th><%= t("search.results.type") %></th>
        <th><%= t("search.results.status") %></th>
        <th><%= t("search.results.action") %></th>
      </tr>
    </thead>
    <tbody id="results-body">
      <% @federated_sites.each do |site| %>
        <% ['unit', 'inspection'].each do |type| %>
          <tr data-site-name="<%= site[:name] %>" data-site-url="<%= site[:host].present? ? "https://#{site[:host]}" : "" %>" data-type="<%= type %>">
            <td>
              <% if site[:host].present? %>
                <a href="https://<%= site[:host] %>" target="_blank" rel="noopener">
                  <%= t("search.sites.#{site[:name]}") %>
                </a>
              <% else %>
                <%= t("search.sites.#{site[:name]}") %>
              <% end %>
            </td>
            <td><%= t("search.types.#{type}") %></td>
            <td class="status"><%= t("search.status.waiting") %></td>
            <td class="action">-</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</article>
