<header>
  <h1><%= t("admin.title") %></h1>
</header>

<nav>
  <ul>
    <li><%= link_to t("navigation.users"), users_path %></li>
    <li><%= link_to t("inspector_companies.titles.index"), inspector_companies_path %></li>
    <li><%= link_to t("navigation.pages"), pages_path %></li>
    <li><%= link_to t("navigation.jobs"), "/mission_control" %></li>
    <li><%= link_to t("navigation.releases"), admin_releases_path %></li>
    <li><%= link_to t("navigation.files"), admin_files_path %></li>
    <% if @show_backups %>
      <li><%= link_to t("navigation.backups"), backups_path %></li>
    <% end %>
  </ul>
</nav>
