<%= render 'form/errors', model: @unit %>

<%= form_with(model: @unit) do |form| %>
  <%= render 'shared/unit_details_form', form: form, object: @unit, i18n_base: 'units.forms', show_photo: true %>
  <%= render 'shared/basic_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/anchorage_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/structure_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/slide_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/user_height_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/enclosed_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>
  <%= render 'shared/other_dimensions_form', form: form, object: @unit, i18n_base: 'units.forms' %>

  <fieldset>
    <%= form.submit @unit.new_record? ? t('units.buttons.create') : t('units.buttons.update') %>
  </fieldset>
  
  <!-- Save Message Display -->
  <div id="unit_save_message"></div>
<% end %>