<%= scrollable_table(class: "data-table") do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Serial Number</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% unit.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= link_to item.manufacturer, units_path(manufacturer: item.manufacturer) %></td>
        <td><%= item.serial %></td>
        <td><%= t("units.unit_types.#{item.unit_type}") %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
