<% if unit.photo.attached? %>
  <div class="unit-photo">
    <%= image_tag unit.photo, alt: "Photo of #{unit.name}" %>
  </div>
<% end %>

<%= scrollable_table do %>
  <tr>
    <th>Name:</th>
    <td><%= unit.name %></td>
  </tr>
  <tr>
    <th>Has Slide:</th>
    <td><%= unit.has_slide? ? "Yes" : "No" %></td>
  </tr>
  <% if unit.is_totally_enclosed? %>
  <tr>
    <th>Totally Enclosed:</th>
    <td>Yes</td>
  </tr>
  <% end %>
  <tr>
    <th>Manufacturer:</th>
    <td><%= link_to unit.manufacturer, units_path(manufacturer: unit.manufacturer) %></td>
  </tr>
  <tr>
    <th>Model:</th>
    <td><%= unit.model %></td>
  </tr>
  <tr>
    <th>Serial Number / Asset ID:</th>
    <td><%= unit.serial %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= unit.description %></td>
  </tr>
  <tr>
    <th>Owner:</th>
    <td><%= link_to unit.owner, units_path(owner: unit.owner) %></td>
  </tr>
  <tr>
    <th>Width:</th>
    <td><%= unit.width %>m</td>
  </tr>
  <tr>
    <th>Length:</th>
    <td><%= unit.length %>m</td>
  </tr>
  <tr>
    <th>Height:</th>
    <td><%= unit.height %>m</td>
  </tr>
  <% if unit.manufacture_date %>
  <tr>
    <th>Manufacture Date:</th>
    <td><%= unit.manufacture_date.strftime("%B %d, %Y") %></td>
  </tr>
  <% end %>
  <% if unit.notes.present? %>
  <tr>
    <th>Notes:</th>
    <td><%= unit.notes %></td>
  </tr>
  <% end %>
<% end %>