<%= render 'shared/page_header', title: @title || "Equipment" %>

<div class="center">
  <%= link_to I18n.t('units.titles.new'), new_unit_path, class: "button" %>
</div>


<section>
  <%= render "filter_form" %>
</section>

<% if @units.any? %>
  <%= render 'unit_table', unit: @units %>
  <div class="center">
    <p>
      <%= link_to units_path(format: :csv) do %>
        <strong>Export CSV</strong>
      <% end %>
    </p>
  </div>
<% else %>
  <p><%= t('units.messages.no_units_found') %></p>
<% end %>
