<h1><%= t("units.titles.new_from_inspection") %></h1>

<section>
  <h2><%= t("units.headers.inspection_details") %></h2>
  <p><%= t("units.labels.inspection_location") %>: <strong><%= @inspection.inspection_location %></strong></p>
  <p><%= t("units.labels.inspection_date") %>: <strong><%= @inspection.inspection_date %></strong></p>
  <% if @inspection.dimensions.present? %>
    <p><%= t("units.labels.dimensions") %>: <strong><%= @inspection.dimensions %></strong></p>
  <% end %>
</section>

<%= form_with model: @unit, url: create_unit_from_inspection_path(@inspection), local: true do |form| %>
  <%= render "form/errors", model: @unit %>

  <fieldset>
    <legend><%= t("units.sections.basic_information") %></legend>
    
    <%= render "form/text_field", form: form, field: :name, required: true, i18n_base: "units.fields" %>
    <%= render "form/text_field", form: form, field: :serial, required: true, i18n_base: "units.fields" %>
    <%= render "form/text_field", form: form, field: :manufacturer, required: true, i18n_base: "units.fields" %>
    <%= render "form/text_field", form: form, field: :description, required: true, i18n_base: "units.fields" %>
    
    <%= render "form/checkbox", form: form, field: :has_slide, i18n_base: "units.fields" %>
    
    <%= render "form/text_field", form: form, field: :model, i18n_base: "units.fields" %>
    <%= render "form/text_field", form: form, field: :owner, i18n_base: "units.fields" %>
  </fieldset>

  <section>
    <p><%= t("units.messages.dimensions_will_be_copied") %></p>
  </section>

  <%= form.submit t("units.buttons.create"), class: "button" %>
  <%= link_to t("shared.buttons.cancel"), inspection_path(@inspection) %>
<% end %>