<article class="view-unit">
  <header><h2>Unit Details</h2></header>  
  
  <%= render 'unit_details', unit: @unit %>

  <hr>

  <%= render 'shared/action_buttons', actions: unit_actions(@unit) %>

  <hr>

  <h4>Inspection History</h4>
  <% if @inspections.any? %>
    <%= render 'inspection_history_table', inspections: @inspections, unit: @unit %>
  <% else %>
    <p>No inspections recorded for this unit.</p>
  <% end %>

  <hr>

  <h4>Certificate QR Code</h4>
  <%= image_tag qr_code_unit_path(@unit), alt: "QR Code for Equipment Certificate", width: 250 %>

  <hr>

  <h4>Certificate PDF Link</h4>
  <%= link_to short_unit_certificate_url(@unit), short_unit_certificate_url(@unit) %>
</article>
