<article class="view-unit">
  <%= render 'shared/page_header', title: t('units.titles.show') %>

  <%= render 'unit_details', unit: @unit %>

  <hr>

  <%= render 'shared/action_buttons', actions: unit_actions(@unit) %>

  <hr>

  <h4><%= t('units.headers.inspection_history') %></h4>
  <% if @inspections.any? %>
    <%= render 'inspections/inspections_table', 
        inspections: @inspections, 
        unit: @unit,
        show_name: @inspections.any? { |i| i.name != @unit.name },
        show_serial: false,
        show_location: true,
        show_inspector: true %>
  <% else %>
    <p><%= t('units.messages.no_inspections') %></p>
  <% end %>

  <hr>

  <h4><%= t('units.headers.qr_code') %></h4>
  <%= image_tag qr_code_unit_path(@unit), alt: t('units.accessibility.qr_code_alt'), width: 250 %>

  <hr>

  <h4><%= t('units.headers.report_link') %></h4>
  <%= link_to short_unit_report_url(@unit), short_unit_report_url(@unit) %>
</article>
