<article class="home-page">
  <header>
    <h1><%= t('home.title') %></h1>
    <p>
      <%= t('home.subtitle') %>
    </p>
    <p>
      <%= t('home.attribution') %> <a href="<%= t('home.company_url') %>"><%= t('home.company_name') %></a>
    </p>
    <div class="video-container">
      <iframe
        src="https://iframe.mediadelivery.net/embed/417100/da1828cc-d387-482a-9875-6511fd2acf22?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
        loading="lazy"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </header>

  <% unless current_user %>
    <nav>
      <ul>
        <li>
          <%= link_to login_path do %>
            <strong><%= t("session.login.title") %></strong>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_path do %>
            <strong><%= t("users.titles.register") %></strong>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
  <section>
    <aside>
      <h2><%= t('home.features.log_inspections.title') %></h2>
      <p><%= t('home.features.log_inspections.description') %></p>
    </aside>
    <aside>
      <h2><%= t('home.features.generate_pdfs.title') %></h2>
      <p><%= t('home.features.generate_pdfs.description') %></p>
    </aside>
    <aside>
      <h2><%= t('home.features.search_export.title') %></h2>
      <p><%= t('home.features.search_export.description') %></p>
    </aside>
  </section>
</article>
