<%= render 'shared/page_header', title: t('users.titles.settings') %>

<%= form_with(model: @user, url: update_settings_user_path(@user), method: :patch, local: true) do |form| %>
  <%= render 'form/errors', model: @user %>

  <%= render 'form/fieldset', legend_key: 'contact_details', i18n_base: 'users.forms', form: form do %>
    <% if @user.has_company? %>
      <%= render 'form/display_field', field: :name, value: @user.display_name %>
      <%= render 'form/display_field', field: :phone, value: @user.display_phone %>
      <%= render 'form/display_field', field: :address, value: @user.display_address %>
      <%= render 'form/display_field', field: :country, value: @user.display_country %>
      <%= render 'form/display_field', field: :postal_code, value: @user.display_postal_code %>
      <p><%= t('users.messages.inherited_from_company') %></p>
    <% else %>
      <%= render 'form/text_field', field: :name %>
      <%= render 'form/text_field', field: :phone %>
      <%= render 'form/text_area', field: :address %>
      <%= render 'form/text_field', field: :country %>
      <%= render 'form/text_field', field: :postal_code %>
    <% end %>
  <% end %>

  <%= render 'form/fieldset', legend_key: 'preferences', i18n_base: 'users.forms', form: form do %>
    <%= render 'form/select', 
        field: :time_display, 
        options: options_for_select([
          [t('users.options.time_full'), "time"],
          [t('users.options.time_day'), "day"]
        ], @user.time_display) %>

    <%= render 'form/text_field', 
        field: :default_inspection_location,
        value: @user.default_inspection_location %>

    <%= render 'form/select', 
        field: :theme, 
        options: options_for_select([
          [t('users.options.theme_light'), "light"],
          [t('users.options.theme_dark'), "dark"]
        ], @user.theme) %>
  <% end %>

  <%= render 'form/submit_button',
      text: t('users.buttons.update_settings') %>
<% end %>

<div class="margins center">
  <%= link_to change_password_user_path(current_user) do %>
    <strong>Change Password</strong>
  <% end %>
</div>

