<%= render 'shared/page_header', title: t('users.titles.settings') %>

<%= render 'chobble_forms/form_context', model: @user, i18n_base: 'forms.user_settings',
  url: update_settings_user_path(@user),
  method: :patch do |form| %>

  <%= render 'chobble_forms/fieldset', legend_key: 'contact_details' do %>
    <% if @user.has_company? %>
      <%= render 'chobble_forms/display_field', field: :name %>
      <%= render 'chobble_forms/display_field', field: :phone %>
      <%= render 'chobble_forms/display_field', field: :address %>
      <%= render 'chobble_forms/display_field', field: :country %>
      <%= render 'chobble_forms/display_field', field: :postal_code %>
      <p><%= t('users.messages.inherited_from_company') %></p>
    <% else %>
      <%= render 'chobble_forms/display_field', field: :name %>
      <%= render 'chobble_forms/text_field', field: :phone %>
      <%= render 'chobble_forms/text_area', field: :address %>
      <%= render 'chobble_forms/text_field', field: :country %>
      <%= render 'chobble_forms/text_field', field: :postal_code %>
    <% end %>
  <% end %>

  <%= render 'chobble_forms/fieldset', legend_key: 'preferences' do %>
    <% unless theme_selector_disabled? %>
      <%= render 'chobble_forms/select',
        field: :theme,
        options: options_for_select([
          [t('users.options.theme_light'), "light"],
          [t('users.options.theme_default'), "default"],
          [t('users.options.theme_dark'), "dark"]
        ], @user.theme)
      %>
    <% end %>

    <div id="user_logo_preview">
      <%= render 'chobble_forms/file_field', field: :logo, accept: "image/*" %>
    </div>

    <div id="user_signature_preview">
      <%= render 'chobble_forms/file_field', field: :signature, accept: "image/*" %>
    </div>
  <% end %>
<% end %>

<div class="margins center">
  <%= link_to change_password_user_path(current_user) do %>
    <strong>Change Password</strong>
  <% end %>
</div>
