<%= render 'form/form_context', model: @user, i18n_base: 'forms.user_edit' do |form| %>
  <%= render 'form/fieldset', legend_key: 'account_details' do %>
    <%= render 'form/text_field', field: :name %>
    <%= render 'form/text_field', field: :email, type: :email_field %>
    <%= render 'form/text_field', field: :password, type: :password_field %>
    <%= render 'form/text_field', field: :password_confirmation, type: :password_field %>
    <%= render 'form/text_field', field: :rpii_inspector_number %>
    <% if ENV["SIMPLE_USER_ACTIVATION"] == "true" %>
      <%
        if @user.active_until&.future?
          label_key = 'users.labels.activated_at'
          display_date = l(@user.active_until - 1000.years, format: :short)
        else
          label_key = 'users.labels.deactivated_at'
          display_date = @user.active_until ? l(@user.active_until, format: :short) : t('users.messages.last_active_never')
        end
      %>
      <%= form.label :active_until, t(label_key) %>
      <p><%= display_date %></p>
    <% else %>
      <%= render 'form/date_field', field: :active_until %>
    <% end %>
    <%= render 'form/select',
        field: :inspection_company_id,
        options: options_for_select(
          [[t('users.forms.no_company'), ""]] +
          InspectorCompany.active.order(:name).map { |c| [c.name, c.id] },
          @user.inspection_company_id || ""
        ) %>
  <% end %>
<% end %>

<% if @user.rpii_inspector_number.present? %>
  <article>
    <%= button_to t('users.buttons.verify_rpii'),
        verify_rpii_user_path(@user),
        method: :post,
        data: { turbo: !Rails.env.test? } %>
    <div id="rpii_verification_result">
      <% if @user.rpii_verified? %>
        <p style="color: green;">✓ <%= t('users.messages.rpii_verified_on', date: l(@user.rpii_verified_date, format: :short)) %></p>
      <% end %>
    </div>
  </article>
<% end %>

<% if ENV["SIMPLE_USER_ACTIVATION"] == "true" %>
  <% if @user.active_until&.future? %>
    <article>
      <%= button_to t('users.buttons.deactivate'),
          deactivate_user_path(@user),
          method: :patch,
          data: { confirm: t('users.messages.deactivate_confirm', email: @user.email) } %>
    </article>
  <% else %>
    <article>
      <%= button_to t('users.buttons.activate'),
          activate_user_path(@user),
          method: :post %>
    </article>
  <% end %>
<% end %>

<% if @user.has_seed_data? %>
  <article>
    <%= button_to t('users.buttons.delete_seeds'),
        delete_seeds_user_path(@user),
        method: :delete,
        data: { confirm: t('users.messages.delete_seeds_confirm', email: @user.email) } %>
  </article>
<% else %>
  <article>
    <%= button_to t('users.buttons.add_seeds'),
        add_seeds_user_path(@user),
        method: :post %>
  </article>
<% end %>

<% if @user != current_user %>
  <article>
    <%= button_to t('users.buttons.impersonate', email: @user.email),
        impersonate_user_path(@user), method: :post,
        data: { confirm: t('users.messages.impersonate_confirm', email: @user.email) } %>
  </article>
  <article>
    <%= button_to t('users.buttons.delete'), user_path(@user), method: :delete,
        data: { confirm: t('users.messages.delete_confirm') } %>
  </article>
<% end %>
