<%
  # Get i18n_base from section (already validated there)
  setup = form_field_setup(field, local_assigns)

  # Form field options
  required ||= false
  options ||= []

  # Build field options
  field_options = { required: required }
  field_options[:list] = "#{field}_autocomplete_#{setup[:form_object].object.object_id}"
  
  if setup[:prefilled]
    field_options[:value] = setup[:value]
  end
%>

<%= render 'form/field_wrapper', prefilled: setup[:prefilled] do %>
  <%= setup[:form_object].label field, setup[:field_label] %>
  <%= setup[:form_object].text_field field, field_options %>
  <datalist id="<%= field_options[:list] %>">
    <% options.each do |option| %>
      <option value="<%= option %>"></option>
    <% end %>
  </datalist>
<% end %>
