<%
  # Composite partial for decimal + pass/fail + comment fields
  # Required parameters:
  #   field: Base field name (e.g., 'runout')
  # Optional parameters:
  #   min: Minimum value
  #   max: Maximum value
  #   required: Whether the decimal field is required
  #   placeholder: Placeholder text
  #
  # This will render:
  #   - Decimal field: field (e.g., 'runout')
  #   - Pass/fail field: field + '_pass' (e.g., 'runout_pass')
  #   - Comment field: field + '_comment' (e.g., 'runout_comment')

  decimal_field = field
  pass_fail_field = "#{field}_pass".to_sym
  comment_field = "#{field}_comment".to_sym

  form = @_current_form
  model = form.object

  field_data = form_field_setup(field, local_assigns)

  decimal_options = {
    inputmode: "decimal",
    pattern: "[0-9]*[.]?[0-9]*",
    placeholder: field_data[:field_placeholder] || local_assigns[:placeholder],
    required: local_assigns[:required] || false
  }

  if field_data[:prefilled]
    decimal_options[:value] = field_data[:value]
  end

  decimal_options[:data] = {}
  decimal_options[:data][:min] = local_assigns[:min] if local_assigns[:min]
  decimal_options[:data][:max] = local_assigns[:max] if local_assigns[:max]

  pass_fail_value, pass_fail_prefilled =
    get_field_value_and_prefilled_status(form, pass_fail_field)

  comment_info =
    comment_field_options(form, comment_field, field_data[:field_label])
%>

<div class="form-grid number-radio-comment">
  <%= render 'form/field_wrapper',
    prefilled: field_data[:prefilled],
    wrapper_class: 'label' do
  %>
    <label for="<%= form.field_id(decimal_field) %>">
      <%= field_data[:field_label] %>
    </label>
  <% end %>

  <%= render 'form/field_wrapper',
    prefilled: field_data[:prefilled],
    wrapper_class: 'number' do
  %>
    <%= form.text_field decimal_field, decimal_options %>
  <% end %>

  <%= render 'form/radio_pass_fail',
    field: pass_fail_field,
    prefilled: pass_fail_prefilled,
    checked_value: pass_fail_value
  %>

  <%= render 'form/comment_checkbox',
    comment_field: comment_field,
    checkbox_id: comment_info[:checkbox_id],
    textarea_id: comment_info[:options][:id],
    has_comment: comment_info[:has_comment],
    prefilled: comment_info[:prefilled]
  %>

  <%= render 'form/field_wrapper',
    prefilled: comment_info[:prefilled],
    wrapper_class: 'comment' do
  %>
    <%= form.text_area comment_field, comment_info[:options] %>
  <% end %>
</div>
