<%
  # Composite partial for radio + comment fields with grid layout
  # Required parameters:
  #   field: Base field name (e.g., 'permanent_roof')
  # 
  # This will render:
  #   - Radio field: field with Yes (true) / No (false) options
  #   - Comment field: field + '_comment' (e.g., 'permanent_roof_comment')
  
  radio_field = field
  comment_field = "#{field}_comment".to_sym
  
  # Get the form object
  form = @_current_form
  model = form.object
  
  # Get field label from i18n (will raise if missing) 
  field_data = form_field_setup(field, local_assigns)
  
  # Get comment field options
  comment_info = comment_field_options(form, comment_field, field_data[:field_label])
  
  # Check the prefilled value if needed
  checked_value = field_data[:prefilled] ? field_data[:value] : nil
%>

<div class="form-grid pass-fail-comment">
  <!-- Label -->
  <label><%= field_data[:field_label] %></label>
  
  <!-- Yes radio -->
  <%= render 'form/field_wrapper', prefilled: field_data[:prefilled] do %>
    <label for="<%= radio_field %>_true">
      <%= form.radio_button radio_field, true, 
          radio_button_options(field_data[:prefilled], checked_value, true) %>
      <%= t('shared.yes') %>
    </label>
  <% end %>
  
  <!-- No radio -->
  <%= render 'form/field_wrapper', prefilled: field_data[:prefilled] do %>
    <label for="<%= radio_field %>_false">
      <%= form.radio_button radio_field, false, 
          radio_button_options(field_data[:prefilled], checked_value, false) %>
      <%= t('shared.no') %>
    </label>
  <% end %>
  
  <!-- Comment checkbox -->
  <%= render 'form/comment_checkbox', 
      comment_field: comment_field,
      checkbox_id: comment_info[:checkbox_id],
      textarea_id: comment_info[:options][:id],
      has_comment: comment_info[:has_comment],
      prefilled: comment_info[:prefilled] %>
  
  <!-- Comment textarea (hidden by default, spans full width) -->
  <%= render 'form/field_wrapper', prefilled: comment_info[:prefilled] do %>
    <%= form.text_area comment_field, comment_info[:options] %>
  <% end %>
</div>