<%
  form = @_current_form
  yes_no ||= false
%>

<div class="pass-fail" id="<%= field %>">
  <label>
    <%= t("shared.#{yes_no ? "yes" : "pass"}") %>
    <%= form.radio_button field,
      true,
      radio_button_options(prefilled, checked_value, true)
    %>
  </label>
  <label>
    <%= form.radio_button field,
      false,
      radio_button_options(prefilled, checked_value, false)
    %>
    <%= t("shared.#{yes_no ? "no" : "fail"}") %>
  </label>
</div>
