<% if @inspector_company.errors.any? %>
  <aside>
    <h3><%= pluralize(@inspector_company.errors.count, "error") %> prohibited this company from being saved:</h3>
    <ul>
      <% @inspector_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= form_with(model: @inspector_company) do |form| %>
  <%= render 'form/section', form: form, i18n_base: 'inspector_companies.forms' do %>
    <%= render 'form/fieldset', legend: t('inspector_companies.headers.company_details') do %>
      <%= render 'form/text_field', field: :name, required: true %>
      <%= render 'form/text_field', field: :rpii_registration_number, required: true %>
      <%= render 'form/text_field', field: :email, type: :email_field %>
      <%= render 'form/text_field', field: :phone, type: :telephone_field, required: true %>

    <% end %>

    <%= render 'form/fieldset', legend: t('inspector_companies.headers.contact_information') do %>
      <%= render 'form/text_area', field: :address, rows: 3, required: true %>
      <%= render 'form/text_field', field: :city %>
      <%= render 'form/text_field', field: :state %>
      <%= render 'form/text_field', field: :postal_code %>
      <%= render 'form/text_field', field: :country, value: @inspector_company.country || "UK" %>

    <% end %>

    <%= render 'form/fieldset', legend: t('inspector_companies.headers.company_status') do %>
      <%= render 'form/checkbox', field: :active %>

      <% if current_user&.admin? %>
        <%= render 'form/text_area', field: :notes, rows: 4 %>
      <% end %>

      <%= render 'form/text_field', field: :logo, type: :file_field, accept: "image/*" %>
      <% if @inspector_company.logo.attached? %>
        <p>Current logo: <%= @inspector_company.logo.filename %></p>
      <% end %>
    <% end %>

    <%= render 'form/submit_button', text: @inspector_company.new_record? ? t('inspector_companies.buttons.create') : t('inspector_companies.buttons.update') %>
  <% end %>
<% end %>