<%= render 'shared/page_header', title: t('inspector_companies.titles.index') %>

<% if current_user&.admin? %>
  <p>
    <%= link_to t('inspector_companies.buttons.new_company'), new_inspector_company_path %>
  </p>
<% end %>

<section>
  <div class="search-form">
    <%= form_with url: inspector_companies_path, method: :get do |form| %>
      <%= form.text_field :search, placeholder: t('inspector_companies.search.placeholder'), value: params[:search] %>
      <%= form.submit t('inspector_companies.buttons.search') %>
    <% end %>
  </div>
</section>

<section>
  <%= form_with url: inspector_companies_path, method: :get, data: { turbo: false } do |form| %>
    <%= form.hidden_field :search, value: params[:search] %>
    <%= form.select :active, 
        options_for_select([
          ["All Companies", "all"],
          [t('inspector_companies.status.active'), "active"],
          [t('inspector_companies.status.archived'), "archived"]
        ], params[:active]),
        {}, { onchange: "this.form.submit();" } %>
    
    <% if params[:active].present? || params[:search].present? %>
      <%= link_to t("ui.buttons.clear_filters"), inspector_companies_path %>
    <% end %>
  <% end %>
</section>

<% if @inspector_companies.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('inspector_companies.forms.name') %></th>
        <th><%= t('inspector_companies.forms.rpii_registration_number') %></th>
        <th><%= t('inspector_companies.forms.phone') %></th>
        <th><%= t('inspector_companies.headers.credentials') %></th>
        <th><%= t('inspector_companies.status.active') %></th>
        <th><%= t('ui.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @inspector_companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= company.rpii_registration_number %></td>
          <td><%= company.phone %></td>
          <td><%= company.has_valid_credentials? ? t('inspector_companies.status.valid_credentials') : t('inspector_companies.status.invalid_credentials') %></td>
          <td><%= company.active? ? t('inspector_companies.status.active') : t('inspector_companies.status.archived') %></td>
          <td>
            <%= link_to t('ui.view'), company %>
            <% if current_user&.admin? %>
              | <%= link_to t('ui.edit'), edit_inspector_company_path(company) %>
              | <%= render 'archive_link', inspector_company: company %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('inspector_companies.messages.no_companies') %></p>
  <% if current_user&.admin? %>
    <p><%= link_to t('inspector_companies.buttons.new_company'), new_inspector_company_path %></p>
  <% end %>
<% end %>