<%
  # Get form object - either passed directly or from wrapper
  form_object = local_assigns[:form] || @_current_form
  
  # Smart i18n key detection
  if local_assigns[:i18n_base]
    i18n_base = local_assigns[:i18n_base]
  else
    # Auto-detect from controller and current tab context
    controller_name = params[:controller]
    if controller_name == 'inspections' && params[:tab].present?
      i18n_base = "inspections.assessments.#{params[:tab]}"
    else
      i18n_base = "#{controller_name}"
    end
  end
  
  # Set defaults with smart i18n lookup
  field_label = local_assigns[:label] || t("#{i18n_base}.fields.#{field}", default: field.to_s.humanize)
  field_hint = local_assigns[:hint] || t("#{i18n_base}.hints.#{field}", default: nil)
  
  # Form field options
  wrapper_class ||= "form-group"
  radio_wrapper_class ||= "radio-group"
  radio_label_class ||= "radio-label"
  
  # Options should be array of [label, value] pairs
  # e.g. [["Pass", true], ["Fail", false]]
  options ||= []
%>

<div class="<%= wrapper_class %>">
  <%= form_object.label field, field_label %>
  <div class="<%= radio_wrapper_class %>">
    <% options.each do |option_label, option_value| %>
      <%= form_object.radio_button field, option_value, id: "#{field}_#{option_value}" %>
      <%= label_tag "#{field}_#{option_value}", option_label, class: radio_label_class %>
    <% end %>
  </div>
  <% if field_hint.present? %>
    <small class="form-text"><%= field_hint %></small>
  <% end %>
</div>