<%
  incomplete_fields = @inspection.incomplete_fields
  total_field_count = incomplete_fields.sum { |form| form[:fields].count }
  description_key ||= "assessments.incomplete_fields.description"
%>

<% if incomplete_fields.any? %>
  <details id="incomplete_fields" class="incomplete-fields-details" <%= "open" if Rails.env.test? %>>
    <summary class="incomplete-fields-summary">
      <%= t("assessments.incomplete_fields.show_fields", count: total_field_count) %>
    </summary>

    <div class="incomplete-fields-content">
      <p><%= t(description_key) %></p>
      <ul class="incomplete-fields-list">
        <% incomplete_fields.each do |form| %>
          <li>
            <strong>
              <%= link_to t("forms.#{form[:tab]}.header"),
                edit_inspection_path(
                  @inspection,
                  tab: form[:tab],
                  anchor: "tabs"
                )
              %>
            </strong>
          </li>
          <li>
            <ul>
              <% form[:fields].each do |field| %>
                <li>
                  <%= link_to field[:label],
                    edit_inspection_path(
                      @inspection,
                      tab: form[:tab],
                      anchor: field[:field]
                    )
                  %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </details>
<% end %>
