<!-- Unit Details Display -->
<div class="unit-details-display">
  <% if unit.photo.attached? %>
    <%= render 'shared/image',
      image: unit.photo,
      size: :default,
      alt: "Photo of #{unit.name}" %>
  <% end %>
  <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :id) %>:</strong> <%= link_to unit.id, edit_unit_path(unit) %></p>
  <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :name) %>:</strong> <%= link_to unit.name, edit_unit_path(unit) %></p>
  <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :serial) %>:</strong> <%= unit.serial %></p>
  <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :manufacturer) %>:</strong> <%= unit.manufacturer %></p>

  <% if unit.description.present? %>
    <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :description) %>:</strong> <%= unit.description %></p>
  <% end %>

  <% if Rails.env.development? || Rails.env.test? %>
    <p><strong><%= ChobbleForms::FieldUtils.form_field_label(:units, :unit_type) %>:</strong> <%= t("units.unit_types.#{unit.unit_type}") %></p>
  <% end %>
</div>
