<!-- Unit Details Display -->
<div class="unit-details-display">
  <% if unit.photo.attached? %>
    <%= render 'shared/image',
      image: unit.photo,
      size: :default,
      alt: "Photo of #{unit.name}"
    %>
  <% end %>

  <p><strong><%= t('inspections.fields.name') %>:</strong> <%= link_to unit.name, edit_unit_path(unit) %></p>
  <p><strong><%= t('inspections.fields.serial') %>:</strong> <%= unit.serial %></p>
  <p><strong><%= t('inspections.fields.manufacturer') %>:</strong> <%= unit.manufacturer %></p>

  <% if unit.operator.present? %>
    <p><strong><%= t('inspections.fields.operator') %>:</strong> <%= unit.operator %></p>
  <% end %>

  <% if unit.description.present? %>
    <p><strong><%= t('inspections.fields.description') %>:</strong> <%= unit.description %></p>
  <% end %>

  <% if current_user.admin? || Rails.env.test? %>
    <p><strong><%= t('inspections.fields.unit_type') %>:</strong> <%= t("units.unit_types.#{unit.unit_type}") %></p>
  <% end %>
</div>
