<article class="home-page">
  <header>
    <h1><%= t('home.title') %></h1>
    <p>
      <%= t('home.subtitle') %>
    </p>
    <p>
      <%= t('home.attribution') %> <a href="<%= t('home.company_url') %>"><%= t('home.company_name') %></a>
    </p>
    <p>
      <%= t('home.license_info') %>
    </p>
  </header>

  <% unless current_user %>
    <nav>
      <ul>
        <li>
          <%= link_to login_path do %>
            <%= t("session.login.title") %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_path do %>
            <%= t("users.titles.register") %>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
  <section>
    <aside>
      <h2><%= t('home.features.log_inspections.title') %></h2>
      <p><%= t('home.features.log_inspections.description') %></p>
    </aside>
    <aside>
      <h2><%= t('home.features.generate_pdfs.title') %></h2>
      <p><%= t('home.features.generate_pdfs.description') %></p>
    </aside>
    <aside>
      <h2><%= t('home.features.search_export.title') %></h2>
      <p><%= t('home.features.search_export.description') %></p>
    </aside>
  </section>
</article>

<% unless current_user %>
  <nav>
    <ul>
      <% if Rails.env.development? || Rails.env.test? %>
        <li><%= link_to t('navigation.search'), search_path %></li>
      <% end %>
      <li><%= link_to t('navigation.about'), about_path %></li>
      <li><%= link_to t('navigation.safety_standards'), safety_standards_path %></li>
      <li><%= link_to t('navigation.guides'), guides_path %></li>
    </ul>
  </nav>
<% end %>
