<% content_for :head do %>
  <meta http-equiv="refresh" content="10;url=<%= root_path %>">
<% end %>

<main>
  <h1><%= t("errors.internal_server_error.title") %></h1>
  <p><%= t("errors.internal_server_error.message") %></p>
  <p><%= t("errors.redirect_message") %> <%= link_to t("errors.redirect_link"), root_path %></p>
</main>