<%= render 'form/errors', model: @inspector_company %>

<%= form_with model: @inspector_company,
  local: false,
  html: { data: { turbo_stream: true } } do |form|
%>
    <%= render 'form/fieldset', legend: t('inspector_companies.headers.company_details'), i18n_base: 'inspector_companies.forms', form: form do %>
      <%= render 'form/text_field', field: :name, required: true %>
      <%= render 'form/text_field', field: :email, type: :email_field %>
      <%= render 'form/text_field', field: :phone, type: :telephone_field, required: true %>

    <% end %>

    <%= render 'form/fieldset', legend: t('inspector_companies.headers.contact_information'), i18n_base: 'inspector_companies.forms', form: form do %>
      <%= render 'form/text_area', field: :address, rows: 3, required: true %>
      <%= render 'form/text_field', field: :city %>
      <%= render 'form/text_field', field: :state %>
      <%= render 'form/text_field', field: :postal_code %>
      <%= render 'form/text_field', field: :country %>

    <% end %>

    <%= render 'form/fieldset', legend: t('inspector_companies.headers.company_status'), i18n_base: 'inspector_companies.forms', form: form do %>
      <%= render 'form/checkbox', field: :active %>

      <% if current_user&.admin? %>
        <%= render 'form/text_area', field: :notes, rows: 4 %>
      <% end %>

      <%= render 'form/file_field', field: :logo %>
    <% end %>

    <%= render 'form/submit_button', text: @inspector_company.new_record? ? t('inspector_companies.buttons.create') : t('inspector_companies.buttons.update') %>

    <div id="inspector_company_save_message"></div>
<% end %>
