<%= scrollable_table do %>
  <tr>
    <th>Name:</th>
    <td><%= unit.name %></td>
  </tr>
  <tr>
    <th>Manufacturer:</th>
    <td><%= unit.manufacturer %></td>
  </tr>
  <tr>
    <th>Serial:</th>
    <td><%= unit.serial %></td>
  </tr>
  <tr>
    <th>Location:</th>
    <td><%= unit.location %></td>
  </tr>
  <tr>
    <th>Next Inspection Due:</th>
    <td><%= render_time(unit.last_due_date) %></td>
  </tr>
<% end %>
