<div class="table-list units-list">
  <!-- Header row -->
  <div class="table-list-header">
    <span class="col-photo"><%= t('units.fields.photo') %></span>
    <span class="col-name"><%= t('units.fields.name') %></span>
    <span class="col-manufacturer"><%= t('units.fields.manufacturer') %></span>
    <span class="col-serial"><%= t('units.fields.serial') %></span>
  </div>

  <!-- Data rows -->
  <ul class="table-list-items">
    <% unit.each do |item| %>
      <li>
        <%= link_to item, class: "table-list-link" do %>
          <span class="col-photo" data-label="<%= t('units.fields.photo') %>">
            <% if item.photo.attached? %>
              <%= render 'shared/image',
                  image: item.photo,
                  size: :thumbnail,
                  alt: "#{item.name} photo" %>
            <% else %>
              <%= image_tag "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Crect width='60' height='60' fill='%23f0f0f0'/%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.3em' fill='%23999' font-family='system-ui' font-size='10'%3ENo Photo%3C/text%3E%3C/svg%3E",
                  alt: t('units.messages.no_photo'),
                  width: 60,
                  height: 60 %>
            <% end %>
          </span>
          <span class="col-name" data-label="<%= t('units.fields.name') %>">
            <%= item.name %>
          </span>
          <span class="col-manufacturer" data-label="<%= t('units.fields.manufacturer') %>">
            <%= item.manufacturer %>
          </span>
          <span class="col-serial" data-label="<%= t('units.fields.serial') %>">
            <%= item.serial %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
