<header>
  <h1><%= t('units.titles.edit') %></h1>
</header>
<%= render 'shared/action_buttons', actions: unit_actions(@unit) %>
<hr>
<%= render 'unit_details', unit: @unit %>
<hr id="form">
<%= render 'form' %>
<% if @unit.deletable? %>
  <%= button_to t('units.buttons.delete'),
    unit_path(@unit),
    method: :delete,
    data: { turbo_confirm: t('units.messages.delete_confirm') }
  %>
<% else %>
  <div class="error">
    <p><%= t("units.messages.not_deletable") %></p>
  </div>
<% end %>
