<%= render 'shared/page_header', title: @title || "Equipment" %>

<% if current_user.is_active? %>
  <%= button_to new_unit_path,
      method: :get do %>
    <strong><%= t('units.buttons.add_unit') %></strong>
  <% end %>
<% end %>

<% if current_user.units.any? %>
  <%= render "filter_form" %>
<% end %>

<% if @units.any? %>
  <%= render 'unit_table', unit: @units %>
  <div class="center">
    <p>
      <%= link_to units_path(format: :csv) do %>
        <strong>Export CSV</strong>
      <% end %>
    </p>
  </div>
<% else %>
  <p><%= t('units.messages.no_units_found') %></p>
<% end %>
