
<%= render 'shared/page_header', title: t('units.titles.show') %>
<%= render 'shared/action_buttons', actions: unit_actions(@unit) %>
<% if @unit.locked_for_non_admin? && !current_user&.admin? %>
  <aside class="notice">
    <%= t('units.messages.locked_unit_notice', days: Unit.lock_days_threshold) %>
  </aside>
<% end %>
<%= render 'unit_details', unit: @unit %>
<h4 id="inspections"><%= t('units.headers.inspection_history') %></h4>
<% if @inspections.any? %>
  <%= render 'inspections/inspections_table',
    inspections: @inspections,
    unit: @unit,
    show_name: @inspections.any? { |i| i.unit&.name != @unit.name },
    show_serial: false,
    show_location: true,
    show_inspector: true,
    show_photo: false %>
<% else %>
  <p><%= t('units.messages.no_inspections') %></p>
<% end %>
<h4><%= t('units.headers.unit_report') %></h4>
<%= render 'shared/pdf_embed',
  url: unit_path(@unit, format: :pdf),
  title: "Unit #{@unit.serial} Report" %>
