<h1><%= @guide_title %></h1>

<p><%= link_to I18n.t("guides.links.back_to_index"), guides_path %></p>

<article class="guide-slider">
  <%= render 'guides/controls', guide_data: @guide_data %>

  <div class="guide-image">
    <% @guide_data["screenshots"].each_with_index do |screenshot, index| %>
      <div class="slide" data-slide-index="<%= index %>" <%= index == 0 ? '' : 'style="display: none;"' %>>
        <h2><%= screenshot["caption"] %></h2>

        <%= image_tag "/guide_screenshots/#{@guide_path}/#{screenshot['filename']}",
            alt: screenshot["caption"] %>

        <p><%= screenshot["example_description"] %></p>
      </div>
    <% end %>
  </div>

  <%= render 'guides/controls', guide_data: @guide_data %>
</article>

<p><%= link_to I18n.t("guides.links.back_to_index"), guides_path %></p>
