<% if @inspection.errors.any? %>
  <aside>
    <h3>Did not save. Fix these <%= pluralize(@inspection.errors.count, "error") %> and try again:</h3>
    <ul>
    <% @inspection.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </aside>
<% end %>

<%= form_with(model: @inspection, html: {class: "inspection"}) do |form| %>
  <fieldset>
    <header>
      <h3>Equipment Details</h3>
    </header>

    <%= form.label :equipment_id, "Select Existing Equipment (Optional)" %>
    <%= form.collection_select :equipment_id, current_user.equipment.order(:name), :id, :name, {include_blank: "-- No equipment selected --"} %>
    
    <p><small>If equipment is selected, the serial number and manufacturer will be automatically populated and disabled, but name and location can still be edited</small></p>

    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>

    <%= form.label :serial, "Serial Number / Asset ID" %>
    <%= form.text_field :serial %>

    <%= form.label :manufacturer, "Manufacturer" %>
    <%= form.text_field :manufacturer %>

    <%= form.label :location, "Location" %>
    <%= form.text_field :location %>
  </fieldset>
  <fieldset>
    <header>
      <h3>Inspection Details</h3>
    </header>

    <%= form.label :inspection_date, "Inspection Date" %>
    <% if current_user.time_display == "day" %>
      <%= form.date_field :inspection_date, value: date_for_form(@inspection.inspection_date) %>
    <% else %>
      <%= form.datetime_local_field :inspection_date, value: date_for_form(@inspection.inspection_date) %>
    <% end %>

    <%= form.label :reinspection_date, "Reinspection Date" %>
    <% if current_user.time_display == "day" %>
      <%= form.date_field :reinspection_date, value: date_for_form(@inspection.reinspection_date) %>
    <% else %>
      <%= form.datetime_local_field :reinspection_date, value: date_for_form(@inspection.reinspection_date) %>
    <% end %>

    <%= form.label :inspector, "Inspector Name" %>
    <%= form.text_field :inspector %>
  </fieldset>
  <fieldset>
    <header>
      <h3>Results</h3>
    </header>

    <%= form.label :passed, "Overall Result" %>
    <%= form.check_box :passed %>
    <label for="inspection_passed">Pass</label>

    <%= form.label :comments, "Comments" %>
    <%= form.text_area :comments, rows: 3 %>
  </fieldset>
  <fieldset>
    <%= form.submit @inspection.new_record? ? "Save Inspection" : "Update Inspection" %>
  </fieldset>
<% end %>
