<% if @inspection.unit&.photo&.attached? %>
  <div class="unit-photo">
    <%= render 'shared/image_link', 
        image: @inspection.unit.photo, 
        alt: "Photo of #{@inspection.unit.name}",
        link_text: t('units.messages.view_full_photo') %>
  </div>
<% end %>

<%= scrollable_table do %>
  <tr>
    <th>Name:</th>
    <td><%= @inspection.name %></td>
  </tr>
  <tr>
    <th>Serial Number / Asset ID:</th>
    <td>
      <% if @inspection.unit %>
        <%= link_to @inspection.serial.presence || t("inspections.messages.missing_serial"), unit_path(@inspection.unit) %>
      <% else %>
        <%= @inspection.serial %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Manufacturer:</th>
    <td><%= @inspection.manufacturer %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.inspection_location') %>:</th>
    <td><%= @inspection.inspection_location %></td>
  </tr>
  <tr>
    <th>Inspection Date:</th>
    <td><%= render_time(@inspection.inspection_date) %></td>
  </tr>
  <tr>
    <th>Next Inspection Due:</th>
    <td><%= render_time(@inspection.reinspection_date) %></td>
  </tr>
  <tr>
    <th>Inspector:</th>
    <td><%= @inspection.inspector_company.name %></td>
  </tr>
  <tr>
    <th>Overall Result:</th>
    <td><%= inspection_result_badge(@inspection) %></td>
  </tr>
<% end %>
