<%= render 'form/form_context', model: @inspection.anchorage_assessment, i18n_base: 'forms.anchorage', url: inspection_anchorage_assessment_path(@inspection) do |form| %>

    <div class="assessment-form anchorage-assessment">

      <!-- Anchor Counts -->
      <%= render 'form/fieldset', legend_key: 'anchor_counts' do %>
        <%= render 'form/number_pass_fail_comment', field: :num_low_anchors %>
        <%= render 'form/number_pass_fail_comment', field: :num_high_anchors %>
      <% end %>

      <!-- Anchor Quality -->
      <%= render 'form/fieldset', legend_key: 'anchor_quality' do %>
        <%= render 'form/pass_fail_comment', field: :anchor_accessories_pass %>
        <%= render 'form/pass_fail_comment', field: :anchor_degree_pass %>
        <%= render 'form/pass_fail_comment', field: :anchor_type_pass %>
        <%= render 'form/pass_fail_comment', field: :pull_strength_pass %>
      <% end %>

      <!-- Dynamic Safety Standards Info -->
      <% if @inspection.anchorage_assessment&.total_anchors&.positive? %>
        <div class="safety-standards-info">
          <strong>Total Anchors:</strong> <%= @inspection.anchorage_assessment.total_anchors %>
          <br>
          <strong>Required Anchors:</strong> <%= @inspection.anchorage_assessment.required_anchors %>
          <br>
          <strong>Compliance Status:</strong> <%= @inspection.anchorage_assessment.anchor_compliance_status %>
        </div>
      <% end %>

      <!-- Safety Status -->
      <%= render 'form/assessment_status', assessment: @inspection.anchorage_assessment %>

    </div>
<% end %>
