<%= render 'form/form_context',
  model: @inspection,
  i18n_base: 'forms.inspection' do |form|
%>
  <%= render 'form/fieldset', legend_key: 'current_unit' do %>
    <% if @inspection.unit.present? %>
      <%= render 'shared/unit_details_display', unit: @inspection.unit %>
      <%= link_to t('inspections.buttons.change_unit'),
        select_unit_inspection_path(@inspection) %>
      <br>
    <% else %>
      <p><%= t('inspections.messages.no_unit') %></p>
      <%= link_to t('inspections.buttons.select_unit'),
        select_unit_inspection_path(@inspection) %>
      <br><br>
      <%= link_to t('inspections.buttons.create_unit_from_inspection'),
        new_unit_from_inspection_path(@inspection) %>
    <% end %>
  <% end %>

  <% unless @inspection.new_record? %>
    <%= render 'form/fieldset', legend_key: 'public_information' do %>
      <%= render 'form/display_field', field: :id %>
      <div>
        <%= link_to t('inspections.buttons.download_pdf'),
          inspection_path(@inspection, format: :pdf),
          target: '_blank' %> /
        <%= link_to t('inspections.buttons.download_qr_code'),
          inspection_path(@inspection, format: :png),
          download: "inspection-#{@inspection.id}-qr.png" %>
      </div>
    <% end %>
  <% end %>

  <%= render 'form/fieldset', legend_key: 'inspection_details' do %>
    <%= render 'form/date_field', field: :inspection_date %>

    <div class="calculated-field">
      <label><%= t('inspections.fields.reinspection_date') %></label>
      <p class="calculated-value">
        <%= @inspection.reinspection_date&.strftime("%-d %B %Y") || t('inspections.fields.calculated_after_save') %>
        <small class="help-text"><%= t('inspections.fields.reinspection_date_help') %></small>
      </p>
    </div>

    <div id="unique_report_number_section">
      <%= form.label :unique_report_number, t('inspections.fields.unique_report_number') %>
      <%= form.text_field :unique_report_number %>
      <% if @inspection.unique_report_number.blank? && @inspection.persisted? %>
        <button type="button"
          onclick="document.getElementById('inspection_unique_report_number').value = '<%= @inspection.id %>'; this.style.display = 'none';">
          <%= t('inspections.buttons.use_suggested_id', id: @inspection.id) %>
        </button>
      <% end %>
      <div>
        <small class="help-text">
          <%= t('inspections.fields.internal_id_help') %>
        </small>
      </div>
    </div>
  <% end %>

  <%= render 'form/fields', model: @inspection %>

<% end %>
