<%= render 'form/errors', model: @inspection %>

<%= form_with(model: @inspection) do |form| %>
  <%= render 'shared/page_header', title: t('inspections.headers.inspection_details') %>
  
  <!-- Unit Selection/Display -->
  <%= render 'form/fieldset', legend_key: 'current_unit', i18n_base: 'inspections.fields', form: form do %>
    <% if @inspection.unit.present? %>
      <%= render 'shared/unit_details_display', unit: @inspection.unit %>
      <%= link_to t('inspections.buttons.change_unit'),
          select_unit_inspection_path(@inspection),
          class: "button" %>
      <br>
      <%= link_to t('inspections.buttons.replace_dimensions'),
          replace_dimensions_inspection_path(@inspection),
          data: {
            turbo_method: :patch,
            turbo_confirm: t('inspections.messages.dimensions_replace_confirm')
          } %>
    <% else %>
      <p><%= t('inspections.messages.no_unit') %></p>
      <%= link_to t('inspections.buttons.select_unit'),
          select_unit_inspection_path(@inspection),
          class: "button" %>
      <br><br>
      <%= link_to t('inspections.buttons.create_unit_from_inspection'),
          new_unit_from_inspection_path(@inspection),
          class: "button secondary" %>
    <% end %>
  <% end %>

  <!-- Inspection-Specific Details -->
  <%= render 'form/fieldset', legend_key: 'inspection_details', i18n_base: 'inspections.fields', form: form do %>
    <%= render 'form/autocomplete_field', field: :inspection_location, options: inspection_location_options(current_user) %>
    
    <%= render 'form/date_field',
        field: :inspection_date,
        field_type: (current_user.time_display == "day" ? :date_field : :datetime_local_field),
        value: date_for_form(@inspection.inspection_date) %>

    <div class="calculated-field">
      <label><%= t('inspections.fields.reinspection_date') %></label>
      <p class="calculated-value">
        <%= @inspection.reinspection_date&.strftime(current_user.time_display == "day" ? "%Y-%m-%d" : "%Y-%m-%d %H:%M") || t('inspections.fields.calculated_after_save') %>
        <small class="help-text"><%= t('inspections.fields.reinspection_date_help') %></small>
      </p>
    </div>

    <% if current_user.admin? %>
      <%= render 'form/select',
          field: :inspector_company_id,
          collection_select_params: {
            collection: InspectorCompany.active.order(:name),
            value_method: :id,
            text_method: :name
          },
          prompt: t('inspections.fields.inspector_company_prompt') %>
    <% else %>
      <div class="calculated-field">
        <label><%= t('inspections.fields.inspector_company') %></label>
        <p class="calculated-value">
          <%= @inspection.inspector_company&.name || current_user.inspection_company&.name || "Not set" %>
          <small class="help-text">Set in your user settings</small>
        </p>
      </div>
    <% end %>

    <%= render 'form/text_field', field: :unique_report_number %>
  <% end %>

  <!-- Inspection Results -->
  <%= render 'form/fieldset', legend_key: 'inspection_results', i18n_base: 'inspections.fields' do %>
    <%= render 'form/number', field: :step_ramp_size, min: 0 %>
    <%= render 'form/pass_fail', field: :step_ramp_size_pass %>

    <%= render 'form/number', field: :critical_fall_off_height, min: 0 %>
    <%= render 'form/pass_fail', field: :critical_fall_off_height_pass %>

    <%= render 'form/number', field: :unit_pressure, min: 0 %>
    <%= render 'form/pass_fail', field: :unit_pressure_pass %>

    <%= render 'form/number', field: :trough_depth, min: 0 %>
    <%= render 'form/number', field: :trough_adjacent_panel_width, min: 0 %>
    <%= render 'form/pass_fail', field: :trough_pass %>

    <%= render 'form/pass_fail', field: :entrapment_pass %>

    <%= render 'form/pass_fail', field: :markings_id_pass %>

    <%= render 'form/pass_fail', field: :grounding_pass %>

    <%= render 'form/pass_fail', field: :clamber_netting_pass %>
    <%= render 'form/pass_fail', field: :retention_netting_pass %>
    <%= render 'form/pass_fail', field: :zips_pass %>
    <%= render 'form/pass_fail', field: :windows_pass %>
    <%= render 'form/pass_fail', field: :artwork_pass %>

    <%= render 'form/pass_fail', field: :exit_sign_visible_pass %>

    <%= render 'form/checkbox', field: :passed %>

    <%= render 'form/text_area', field: :risk_assessment, rows: 3 %>
    <%= render 'form/text_area', field: :comments, rows: 3 %>
  <% end %>


  <fieldset>
    <%= render 'form/submit_button',
        text: (@inspection.new_record? ? t('inspections.buttons.create') : t('inspections.buttons.update')) %>
  </fieldset>
  
  <!-- Save Message Display -->
  <div id="inspection_save_message"></div>
<% end %>

<!-- Completion Actions -->
<% unless @inspection.new_record? %>
  <section>
    <%= button_to t('inspections.buttons.mark_complete'),
        complete_inspection_path(@inspection),
        method: :patch,
        data: { turbo_confirm: t('inspections.messages.mark_complete_confirm') } %>
  </section>
<% end %>
