<%
  show_photo = local_assigns.fetch(:show_photo, false)
  show_name = local_assigns.fetch(:show_name, true)
  show_serial = local_assigns.fetch(:show_serial, true)
  show_inspector = local_assigns.fetch(:show_inspector, false)
  context_unit = local_assigns[:unit] # If provided, we're showing inspections for a specific unit
%>

<div class="table-list inspections-list">
  <!-- Header row -->
  <div class="table-list-header">
    <%= render 'shared/table_column', field: :photo, model: :units, show: show_photo, header: true %>
    <%= render 'shared/table_column', field: :id, model: :inspection, header: true %>
    <%= render 'shared/table_column', field: :name, model: :units, show: show_name, header: true %>
    <%= render 'shared/table_column', field: :serial, model: :units, show: show_serial, header: true %>
    <%= render 'shared/table_column', field: :"last-inspection", i18n_key: 'inspections.fields.last_inspection', header: true %>
    <%= render 'shared/table_column', field: :inspector, model: :inspection, show: show_inspector, header: true %>
    <%= render 'shared/table_column', field: :result, model: :inspection, header: true %>
  </div>

  <!-- Data rows -->
  <ul class="table-list-items">
    <% inspections.each do |inspection| %>
      <%
        target_path =
          inspection.complete? ?
            inspection_path(inspection, anchor: "main") :
            edit_inspection_path(inspection, anchor: "main")
      %>
      <li>
        <%= link_to target_path, class: "table-list-link" do %>
          <%= render 'shared/table_column', field: :photo, model: :units, show: show_photo do %>
            <% if !inspection.complete? && inspection.unit&.photo&.attached? %>
              <%= render 'shared/image',
                  image: inspection.unit.photo,
                  size: :thumbnail,
                  alt: "#{inspection.unit.name} photo" %>
            <% elsif !inspection.complete? %>
              <%= image_tag "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Crect width='60' height='60' fill='%23f0f0f0'/%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.3em' fill='%23999' font-family='system-ui' font-size='10'%3ENo Photo%3C/text%3E%3C/svg%3E",
                  alt: t('units.messages.no_photo'),
                  width: 60,
                  height: 60 %>
            <% end %>
          <% end %>
          <%= render 'shared/table_column', field: :id, model: :inspection, item: inspection %>
          <%= render 'shared/table_column', field: :name, model: :units, show: show_name do %>
            <% if inspection.unit.nil? %>
              <span class="badge">[<%= t("inspections.labels.no_unit") %>]</span>
            <% end %>
            <%= inspection.unit&.name.presence || t('inspections.messages.unnamed') %>
          <% end %>
          <%= render 'shared/table_column', field: :serial, model: :units, show: show_serial do %>
            <%= inspection.unit&.serial.presence || t('inspections.messages.missing_serial') %>
          <% end %>
          <%= render 'shared/table_column', field: :"last-inspection", i18n_key: 'inspections.fields.last_inspection' do %>
            <%= render_time(inspection.inspection_date) %>
          <% end %>
          <%= render 'shared/table_column', field: :inspector, model: :inspection, show: show_inspector do %>
            <%= inspection.user.name %>
          <% end %>
          <%= render 'shared/table_column', field: :result, model: :inspection do %>
            <%= inspection_result_badge(inspection) %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
