<% if @inspection.unit&.photo&.attached? %>
  <div class="unit-photo">
    <%= render 'shared/image_link', 
        image: @inspection.unit.photo, 
        alt: t('inspections.messages.photo_of', name: @inspection.unit.name),
        link_text: t('units.messages.view_full_photo') %>
  </div>
<% end %>

<%= scrollable_table do %>
  <tr>
    <th><%= t('inspections.fields.name') %>:</th>
    <td><%= @inspection.name %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.serial') %>:</th>
    <td>
      <% if @inspection.unit %>
        <%= link_to @inspection.serial.presence || t("inspections.messages.missing_serial"), unit_path(@inspection.unit) %>
      <% else %>
        <%= @inspection.serial %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.manufacturer') %>:</th>
    <td><%= @inspection.manufacturer %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.inspection_location') %>:</th>
    <td><%= @inspection.inspection_location %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.inspection_date') %>:</th>
    <td><%= render_time(@inspection.inspection_date) %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.reinspection_date') %>:</th>
    <td><%= render_time(@inspection.reinspection_date) %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.inspector') %>:</th>
    <td><%= @inspection.user.name %></td>
  </tr>
  <tr>
    <th><%= t('inspections.fields.overall_result') %>:</th>
    <td><%= inspection_result_badge(@inspection) %></td>
  </tr>
<% end %>
