<%
  show_photo = local_assigns.fetch(:show_photo, false)
  show_name = local_assigns.fetch(:show_name, true)
  show_serial = local_assigns.fetch(:show_serial, true)
  show_inspector = local_assigns.fetch(:show_inspector, false)
  context_unit = local_assigns[:unit] # If provided, we're showing inspections for a specific unit
%>

<div class="table-list inspections-list">
  <!-- Header row -->
  <div class="table-list-header">
    <% if show_photo %>
      <span class="col-photo"><%= t('units.fields.photo') %></span>
    <% end %>
    <span class="col-id"><%= t('inspections.fields.id') %></span>
    <% if show_name %>
      <span class="col-name"><%= FieldUtils.form_field_label('units', 'name') %></span>
    <% end %>
    <% if show_serial %>
      <span class="col-serial"><%= t('inspections.fields.serial') %></span>
    <% end %>
    <span class="col-last-inspection"><%= t('inspections.fields.last_inspection') %></span>
    <% if show_inspector %>
      <span class="col-inspector"><%= t('inspections.fields.inspector') %></span>
    <% end %>
    <span class="col-result"><%= t('inspections.fields.result') %></span>
  </div>

  <!-- Data rows -->
  <ul class="table-list-items">
    <% inspections.each do |inspection| %>
      <%
        target_path =
          inspection.complete? ?
            inspection_path(inspection, anchor: "main") :
            edit_inspection_path(inspection, anchor: "main")
      %>
      <li>
        <%= link_to target_path, class: "table-list-link" do %>
          <% if show_photo %>
            <span class="col-photo" data-label="<%= t('units.fields.photo') %>">
              <% if !inspection.complete? && inspection.unit&.photo&.attached? %>
                <%= render 'shared/image',
                    image: inspection.unit.photo,
                    size: :thumbnail,
                    alt: "#{inspection.unit.name} photo" %>
              <% elsif !inspection.complete? %>
                <%= image_tag "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Crect width='60' height='60' fill='%23f0f0f0'/%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.3em' fill='%23999' font-family='system-ui' font-size='10'%3ENo Photo%3C/text%3E%3C/svg%3E",
                    alt: t('units.messages.no_photo'),
                    width: 60,
                    height: 60 %>
              <% end %>
            </span>
          <% end %>
          <span class="col-id" data-label="<%= t('inspections.fields.id') %>">
            <%= inspection.id %>
          </span>
          <% if show_name %>
            <span class="col-name" data-label="<%= FieldUtils.form_field_label('units', 'name') %>">
              <% if inspection.unit.nil? %>
                <span class="badge">[<%= t("inspections.labels.no_unit") %>]</span>
              <% end %>
              <%= inspection.unit&.name.presence || t('inspections.messages.unnamed') %>
            </span>
          <% end %>
          <% if show_serial %>
            <span class="col-serial" data-label="<%= t('inspections.fields.serial') %>">
              <%= inspection.unit&.serial.presence || t('inspections.messages.missing_serial') %>
            </span>
          <% end %>
          <span class="col-last-inspection" data-label="<%= t('inspections.fields.last_inspection') %>"><%= render_time(inspection.inspection_date) %></span>
          <% if show_inspector %>
            <span class="col-inspector" data-label="<%= t('inspections.fields.inspector') %>"><%= inspection.inspector_company&.name %></span>
          <% end %>
          <span class="col-result" data-label="<%= t('inspections.fields.result') %>"><%= inspection_result_badge(inspection) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
