<%= render 'form/form_context',
  model: @inspection.user_height_assessment,
  i18n_base: 'forms.user_height',
  url: inspection_user_height_assessment_path(@inspection) do |form|
%>
  <%= render 'form/fieldset', legend_key: 'height_measurements' do %>
      <%= render 'form/decimal_comment', field: :containing_wall_height %>
  <% end %>

  <%= render 'form/fieldset', legend_key: 'play_area' do %>
    <%= render 'form/decimal_comment', field: :play_area_length, min: 0 %>
    <%= render 'form/decimal_comment', field: :play_area_width, min: 0 %>
    <%= render 'form/decimal_comment', field: :negative_adjustment, min: 0 %>
  <% end %>

  <%= render 'form/fieldset', legend_key: 'user_capacity' do %>
    <div class="user-heights">
      <%= render 'form/number', field: :users_at_1000mm, min: 0, step: 1 %>
      <%= render 'form/number', field: :users_at_1200mm, min: 0, step: 1 %>
      <%= render 'form/number', field: :users_at_1500mm, min: 0, step: 1 %>
      <%= render 'form/number', field: :users_at_1800mm, min: 0, step: 1 %>
      <%= render 'form/decimal_comment', field: :tallest_user_height %>
      <%= render 'form/number', field: :user_count_at_maximum_user_height, min: 0, step: 1 %>
    </div>
  <% end %>

  <%= render 'shared/safety_standards_display',
    reference_partials: [
      'shared/safety_standards/wall_height_requirements'
    ],
    dynamic_content: -> do %>
    <%= turbo_frame_tag "user_height_safety_results" do %>
      <% @assessment = @inspection.user_height_assessment %>
      <%= render 'assessments/user_height_safety_results' %>
    <% end %>
  <% end %>
<% end %>
