<header>
  <h1><%= t('inspections.titles.edit') %></h1>
  <nav>
    <%= link_to t('inspections.buttons.qr_and_pdf'),
      inspection_path(@inspection)
    %>
  </nav>
</header>

<article>
  <div class="inspection-edit-container">
    <nav class="tabs" id="tabs" data-inspection-id="<%= @inspection.id %>">
      <ul>
        <% inspection_tabs(@inspection).each do |tab| %>
          <li>
            <% if current_tab == tab %>
              <span><%= t("forms.#{tab}.header") %></span>
            <% else %>
              <%= link_to t("forms.#{tab}.header"),
                edit_inspection_path(@inspection, tab: tab, anchor: "tabs"),
                data: { tab: tab }
              %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="tab-content">
      <% case current_tab %>
      <% when 'inspection' %>
        <%= render 'inspections/form' %>
      <% else %>
        <%= render "inspections/#{current_tab}_form" %>
      <% end %>
    </div>

    <%= render 'inspections/mark_complete_section', inspection: @inspection %>

    <div class="inspection-actions">
      <% if @inspection.complete? %>
        <p><%= t('inspections.messages.complete_inspection_notice') %></p>
        <%= button_to t('inspections.buttons.switch_to_in_progress'),
          mark_draft_inspection_path(@inspection),
          method: :patch,
          data: {
            turbo_confirm: t('inspections.messages.mark_in_progress_confirm')
          }
        %>
      <% elsif !@inspection.complete? || current_user.admin? %>
        <%= button_to t('inspections.buttons.delete'),
          inspection_path(@inspection),
          method: :delete,
          data: {
            turbo_confirm: t('inspections.messages.delete_confirm')
          }
        %>
      <% end %>
    </div>
  </div>
</article>
