<% if @equipment.errors.any? %>
  <aside>
    <h3>Did not save. Fix these <%= pluralize(@equipment.errors.count, "error") %> and try again:</h3>
    <ul>
    <% @equipment.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </aside>
<% end %>

<%= form_with(model: @equipment) do |form| %>
    <header>
      <h3>Equipment Details</h3>
    </header>

    <%= form.label :name, "Equipment Name" %>
    <%= form.text_field :name %>

    <%= form.label :manufacturer, "Manufacturer" %>
    <%= form.text_field :manufacturer %>

    <%= form.label :serial, "Serial Number / Asset ID" %>
    <%= form.text_field :serial %>

    <%= form.label :location, "Location" %>
    <%= form.text_field :location %>

    <%= form.submit @equipment.new_record? ? "Save Equipment" : "Update Equipment" %>
  </fieldset>
<% end %>
