<header>
  <h1><%= @title || "Equipment" %></h1>
</header>

<div class="center">
  <%= link_to new_equipment_path do %>
    <strong>Add Equipment</strong>
  <% end %>
</div>

<%= equipment_links(current_user) %>

<section>
  <%= render "search_form" %>
</section>

<% if @equipment.any? %>
  <%= render 'equipment_table', equipment: @equipment %>
  <div class="center">
    <p>
      <%= link_to equipment_index_path(format: :csv) do %>
        <strong>Export CSV</strong>
      <% end %>
    </p>
  </div>
<% else %>
  <p>No equipment found.</p>
<% end %>
