<!DOCTYPE html>
<html>
  <head>
    <title>play-test | Professional Inspection Management | play-test.co.uk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mvp" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path("favicon.svg") %>
    <script data-goatcounter="https://analytics.play-test.co.uk/count"
      async src="https://analytics.play-test.co.uk/count.js"></script>
  </head>
  <body<% if current_user&.theme == "dark" %> class="dark-theme"<% end %>>
    <%= render 'shared/construction_banner' %>
    <% if current_user %>
      <% if !current_user.is_active? %>
        <aside id="company-activation-notice">
          <%= current_user.inactive_user_message %>
        </aside>
      <% end %>
      <nav>
        <ul>
          <li><%= nav_link_to "Inspections", inspections_path %></li>
          <li><%= nav_link_to "Units", units_path %></li>
          <% if current_user.admin? %>
            <li><%= nav_link_to "Users", users_path %></li>
            <li><%= nav_link_to t('inspector_companies.titles.index'), inspector_companies_path %></li>
          <% end %>
          <li><%= nav_link_to "Settings", change_settings_user_path(current_user) %></li>
          <li><%= nav_link_to "Safety Standards", safety_standards_path %></li>
          <li><%= nav_link_to "About", about_path %></li>
          <li>
            <%= button_to t("sessions.buttons.log_out"), logout_path, method: :delete %>
          </li>
        </ul>
      </nav>
    <% end %>
    <main id="main">
      <% flash.each do |type, message| %>
        <article>
          <aside>
            <%= message %>
            <% if type.to_s == "notice" && session[:rpii_verification_details] %>
              <div style="margin-top: 0.5rem; padding: 0.5rem; background: #f0f0f0;">
                <strong><%= t("users.verification.details_header") %></strong><br>
                <%= t("users.verification.name") %>: <%= session[:rpii_verification_details]["name"] %><br>
                <%= t("users.verification.number") %>: <%= session[:rpii_verification_details]["number"] %><br>
                <%= t("users.verification.qualifications") %>: <%= session[:rpii_verification_details]["qualifications"] %>
              </div>
              <% session.delete(:rpii_verification_details) %>
            <% end %>
          </aside>
        </article>
      <% end %>

      <%= yield %>

      <hr>
      <footer>
        <p>
          <strong>Privacy policy:</strong> I won't use your info for anything other than contacting you about this service, which will be rare. You can delete your data whenever you like.
        </p>
        <p>
          <strong>Self promo:</strong> Do you need a website, software development, or honest techy advice? Get in touch with me at <a href="https://chobble.com">Chobble.com</a>.
        </p>
        <p>
          <a href="https://git.chobble.com/chobble/play-test">Source Code</a>
        </p>
      </footer>
      <%= render 'shared/debug_info' %>
    </main>
    <%= render 'shared/construction_banner' %>
  </body>
</html>
