<%
  metadata = SafetyStandard.calculation_metadata[type]
  i18n_base = "forms.safety_standards_#{type}"
  result_id = "#{type.to_s.dasherize}-result"
%>

<div class="calculator-form">
  <%= render 'form/form_context',
    model: nil,
    scope: :calculation,
    url: safety_standards_path,
    method: :post,
    local: false,
    i18n_base: i18n_base do |form| %>
    
    <%= form.hidden_field :type, value: type.to_s %>

    <p><%= metadata[:description] %></p>
    
    <% case type %>
    <% when :anchors %>
      <%= render 'form/fieldset', legend_key: 'unit_dimensions' do %>
        <%= render 'form/number', field: :length, min: 1.0, required: true %>
        <%= render 'form/number', field: :width, min: 1.0, required: true %>
        <%= render 'form/number', field: :height, min: 1.0, required: true %>
      <% end %>
      
    <% when :slide_runout %>
      <%= render 'form/fieldset', legend_key: 'input' do %>
        <%= render 'form/number', field: :platform_height, min: 1.0, required: true %>
        <%= render 'form/checkbox', field: :has_stop_wall %>
      <% end %>
      
    <% when :wall_height %>
      <%= render 'form/fieldset', legend_key: 'input' do %>
        <%= render 'form/number', field: :platform_height, min: 0.0, required: true %>
        <%= render 'form/number', field: :user_height, min: 0.0, required: true %>
      <% end %>
      
    <% when :user_capacity %>
      <%= render 'form/fieldset', legend_key: 'dimensions' do %>
        <%= render 'form/number', field: :length, min: 1.0, required: true %>
        <%= render 'form/number', field: :width, min: 1.0, required: true %>
      <% end %>
      
      <%= render 'form/fieldset', legend_key: 'user_height' do %>
        <%= render 'form/number', field: :max_user_height, min: 0.0, required: false %>
      <% end %>
    <% end %>
    
    <% result_partial_mapping = {
      anchors: "anchor_result",
      slide_runout: "runout_result",
      wall_height: "wall_height_result",
      user_capacity: "user_capacity_result"
    } %>
    
    <div id="<%= result_id %>">
      <%= render result_partial_mapping[type] %>
    </div>
  <% end %>
</div>

<details class="formula-box">
  <summary><strong>Calculation Formula</strong></summary>
  <div>
    <code><%= metadata[:formula_text] %></code>
    <p>Example: <%= SafetyStandard.generate_example(type) %></p>
  </div>
</details>

<details class="source-code-box">
  <summary><strong>Ruby Source Code</strong></summary>
  <div class="source-code">
    <h4>Method: <%= metadata[:method_name] %></h4>
    <pre><code class="ruby"><%= SafetyStandard.get_method_source(metadata[:method_name], metadata[:module_name]) %></code></pre>
    <p><em>Source: <%= metadata[:module_name].name %></em></p>
  </div>
</details>

<details class="api-details-box">
  <summary><strong>API Details</strong></summary>
  <div class="api-details">
    <h4>Endpoint:</h4>
    <code>POST <%= safety_standards_url %></code>
    
    <h4>Headers:</h4>
    <pre>Content-Type: application/json
Accept: application/json</pre>
    
    <h4>Parameters:</h4>
    <pre><%= render 'api_params', type: type %></pre>
    
    <h4>Example Response:</h4>
    <pre><%= render 'api_response', type: type %></pre>
    
    <h4>Test with curl:</h4>
    <pre class="curl-command"><%= render 'curl_command', type: type, url: safety_standards_url %></pre>
  </div>
</details>
