<%
  metadata = SafetyStandard.calculation_metadata[type]
  i18n_base = "forms.safety_standards_#{type}"
  result_id = "#{type.to_s.dasherize}-result"
%>

<h2><%= metadata[:title] %></h2>
<p><%= metadata[:description] %></p>

<div class="formula-box">
  <h4>Calculation Formula:</h4>
  <code><%= metadata[:formula_text] %></code>
  <p>Example: <%= SafetyStandard.generate_example(type) %></p>
</div>

<details class="source-code-box">
  <summary><strong>View Ruby Source Code</strong></summary>
  <div class="source-code">
    <h4>Method: <%= metadata[:method_name] %></h4>
    <pre><code class="ruby"><%= SafetyStandard.get_method_source(metadata[:method_name]) %></code></pre>
    <p><em>Source: app/services/safety_standard.rb</em></p>
  </div>
</details>

<div class="calculator-form">
  <%= render 'form/form_context',
    model: nil,
    scope: :calculation,
    url: safety_standards_path,
    method: :post,
    local: false,
    i18n_base: i18n_base do |form| %>
    
    <%= form.hidden_field :type, value: type.to_s %>
    
    <% case type %>
    <% when :anchors %>
      <%= render 'form/fieldset', legend_key: 'unit_dimensions' do %>
        <%= render 'form/number', field: :length, min: 1.0 %>
        <%= render 'form/number', field: :width, min: 1.0 %>
        <%= render 'form/number', field: :height, min: 1.0 %>
      <% end %>
      
    <% when :user_capacity %>
      <%= render 'form/fieldset', legend_key: 'dimensions' do %>
        <%= render 'form/number', field: :length, min: 1.0 %>
        <%= render 'form/number', field: :width, min: 1.0 %>
        <%= render 'form/number', field: :negative_adjustment, min: 0 %>
      <% end %>
      
    <% when :slide_runout %>
      <%= render 'form/number', field: :platform_height, min: 1.0 %>
      
    <% when :wall_height %>
      <%= render 'form/number', field: :user_height, min: 1.0 %>
    <% end %>
  <% end %>
  
  <% result_partial_mapping = {
    anchors: "anchor_result",
    user_capacity: "capacity_result",
    slide_runout: "runout_result",
    wall_height: "wall_height_result"
  } %>
  
  <div id="<%= result_id %>">
    <%= render result_partial_mapping[type] %>
  </div>
</div>