<% if @capacity_result %>
  <div class="calculation-result">
    <h2><%= t('safety_standards.calculators.user_capacity.result_title') %></h2>
    <p><strong><%= t('safety_standards.calculators.user_capacity.dimensions_result') %></strong> <%= @capacity_result[:length] %>m × <%= @capacity_result[:width] %>m</p>
    <p><strong><%= t('safety_standards.calculators.user_capacity.total_area_result') %></strong> <%= @capacity_result[:area] %>m²</p>
    <% if @capacity_result[:negative_adjustment] > 0 %>
      <p><strong><%= t('safety_standards.calculators.user_capacity.negative_adjustment_result') %></strong> -<%= @capacity_result[:negative_adjustment] %>m²</p>
    <% end %>
    <p><strong><%= t('safety_standards.calculators.user_capacity.usable_area_result') %></strong> <%= @capacity_result[:usable_area] %>m²</p>
    <p><strong><%= t('safety_standards.calculators.user_capacity.capacities_result') %></strong></p>
    <ul>
      <li>1.0m users: <%= @capacity_result[:capacities][:users_1000mm] %> (young children)</li>
      <li>1.2m users: <%= @capacity_result[:capacities][:users_1200mm] %> (children)</li>
      <li>1.5m users: <%= @capacity_result[:capacities][:users_1500mm] %> (adolescents)</li>
      <li>1.8m users: <%= @capacity_result[:capacities][:users_1800mm] %> (adults)</li>
    </ul>
  </div>
<% elsif @capacity_error %>
  <div class="calculation-error">
    <p><strong>Error:</strong> <%= @capacity_error %></p>
  </div>
<% end %>