<article id="material" class="tab-panel">
  <h2><%= t('safety_standards_tabs.material.title') %></h2>

  <%= render 'shared/safety_card', i18n_key: 'material.fabric' %>
  <%= render 'shared/safety_card', i18n_key: 'material.thread' %>
  <%= render 'shared/safety_card', i18n_key: 'material.rope' %>
  <%= render 'shared/safety_card', i18n_key: 'material.netting' %>
</article>
