<% if @user_capacity_result || @user_capacity_error %>
  <div class="calculation-result">
    <h3><%= t('forms.safety_standards_user_capacity.sections.result') %></h3>

    <% if @user_capacity_error %>
      <p class="error"><%= @user_capacity_error %></p>
    <% elsif @user_capacity_result %>
      <% if @user_capacity_result.breakdown %>
        <h4>Calculation Breakdown:</h4>
        <table>
          <tbody>
            <% @user_capacity_result.breakdown.each do |label, value| %>
              <tr>
                <th><%= label %>:</th>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="error"><%= t('safety_standards.errors.calculation_failed') %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
