<% content_for :title, t('safety_standards.title') %>

<article class="safety-standards-reference">
  <header>
    <h1><%= t('safety_standards.title') %></h1>
    <p><%= t('safety_standards.subtitle') %></p>
  </header>

  <nav id="safety-standard-tabs">
    <ul>
      <li><a href="#anchorage"><%= t('safety_standards.tabs.anchorage') %></a></li>
      <li><a href="#user-capacity"><%= t('safety_standards.tabs.user_capacity') %></a></li>
      <li><a href="#slides"><%= t('safety_standards.tabs.slides') %></a></li>
      <li><a href="#material"><%= t('safety_standards.tabs.material') %></a></li>
      <li><a href="#fan"><%= t('safety_standards.tabs.fan') %></a></li>
    </ul>
  </nav>

  <div class="tab-content">
    <%= render 'anchorage_tab' %>
    <%= render 'user_capacity_tab' %>
    <%= render 'slides_tab' %>
    <%= render 'material_tab' %>
    <%= render 'fan_tab' %>
  </div>
</article>
