<% content_for :title, t('safety_standards.title') %>

<article class="safety-standards-reference">
  <header>
    <h1><%= t('safety_standards.title') %></h1>
    <p><%= t('safety_standards.subtitle') %></p>
  </header>

  <nav id="safety-standard-tabs">
    <ul>
      <li><a href="#anchorage">Anchorage</a></li>
      <li><a href="#user-capacity">User Capacity</a></li>
      <li><a href="#slides">Slides</a></li>
      <li><a href="#material">Material</a></li>
      <li><a href="#fan">Fan</a></li>
      <li><a href="#additional">Additional</a></li>
    </ul>
  </nav>

  <div class="tab-content">
    <%= render 'anchorage_tab' %>
    <%= render 'user_capacity_tab' %>
    <%= render 'slides_tab' %>
    <%= render 'material_tab' %>
    <%= render 'fan_tab' %>
    <%= render 'additional_tab' %>
  </div>
</article>
