<%= render 'shared/page_header', title: t('badges.titles.edit_batch', id: @badge_batch.id) %>

<%= render 'chobble_forms/form_context',
  model: @badge_batch,
  i18n_base: 'forms.badge_batch_edit',
  url: badge_batch_path(@badge_batch) do |form| %>
  <%= render 'chobble_forms/fieldset', legend_key: 'batch_details' do %>
    <%= render 'chobble_forms/display_field', field: :id %>
    
    <div>
      <label><%= t('forms.badge_batch_edit.fields.created_at') %></label>
      <p><%= l(@badge_batch.created_at, format: :long) %></p>
    </div>
    
    <%= render 'chobble_forms/display_field', field: :count %>
    <%= render 'chobble_forms/text_area', field: :note %>
  <% end %>
<% end %>

<% if @badges.any? %>
  <div class="table-list badges-list">
    <div class="table-list-header">
      <%= render 'shared/table_column',
        field: :badge_id,
        i18n_key: "badges.fields.badge_id",
        header: true %>
      <%= render 'shared/table_column',
        field: :note,
        i18n_key: "badges.fields.note",
        header: true %>
    </div>

    <ul class="table-list-items">
      <% @badges.each do |badge| %>
        <li>
          <%= link_to edit_badge_path(badge), class: "table-list-link" do %>
            <%= render 'shared/table_column',
              field: :badge_id,
              i18n_key: "badges.fields.badge_id" do %>
              <%= badge.id %>
            <% end %>
            <%= render 'shared/table_column',
              field: :note,
              i18n_key: "badges.fields.note",
              item: badge %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p><%= t("badges.messages.no_badges") %></p>
<% end %>
