<%= render 'shared/page_header',
  title: t("badges.titles.show", id: @badge_batch.id) %>

<nav>
  <%= link_to t("badges.buttons.back"), badge_batches_path %>
  <%= link_to t("badges.buttons.edit_batch"),
    edit_badge_batch_path(@badge_batch) %>
</nav>

<article>
  <p>
    <strong><%= t("badges.fields.created_at") %>:</strong>
    <%= l(@badge_batch.created_at, format: :long) %>
  </p>

  <p>
    <strong><%= t("badges.fields.count") %>:</strong>
    <%= @badge_batch.count %>
  </p>

  <p>
    <strong><%= t("badges.fields.note") %>:</strong>
    <%= @badge_batch.note %>
  </p>
</article>

<% if @badges.any? %>
  <div class="table-list badges-list">
    <div class="table-list-header">
      <%= render 'shared/table_column',
        field: :badge_id,
        i18n_key: "badges.fields.badge_id",
        header: true %>
      <%= render 'shared/table_column',
        field: :note,
        i18n_key: "badges.fields.note",
        header: true %>
    </div>

    <ul class="table-list-items">
      <% @badges.each do |badge| %>
        <li>
          <%= link_to edit_badge_path(badge), class: "table-list-link" do %>
            <%= render 'shared/table_column',
              field: :badge_id,
              i18n_key: "badges.fields.badge_id" do %>
              <%= badge.id %>
            <% end %>
            <%= render 'shared/table_column',
              field: :note,
              i18n_key: "badges.fields.note",
              item: badge %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p><%= t("badges.messages.no_badges") %></p>
<% end %>
